## .NET / ASP.NET Core

# Build
[Bb]in/
[Oo]bj/
[Dd]ebug/
[Rr]elease/
x64/
x86/
artifacts/
publish/

# Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# Rider / JetBrains
.idea/

# Logs
[Ll]og/
[Ll]ogs/
*.log

# NuGet
*.nupkg
*.snupkg
project.lock.json
project.fragment.lock.json

# Coverage / Tests
[Tt]est[Rr]esult*/
nunit-*.xml
*.VisualState.xml
Coverage/

# ASP.NET Core
ScaffoldingReadMe.txt

# Fichiers temporaires
~$*
*~

# Angular / Node
node_modules/
dist/
.tmp/

# Uploads utilisateurs
wwwroot/uploads/documents/

# OS
.DS_Store
Thumbs.db

# Environment local uniquement
appsettings.Development.json